body{
 background-color: hsl(30, 54%, 90%);
 font-family: 'Young Serif', sans-serif;
}
hr{
    border: 1px solid hsl(30, 18%, 87%);
    color: hsl(30, 18%, 87%);
}
main{
    width: 55%;
    background-color: #FFFFFF;
    margin: auto;
    padding: 35px;
    border-radius: 25px;
}
p{
    font-size: 16px;
}
.omelette_img{
    max-width: 100%;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Preparation-box{
  background-color: hsl(330, 100%, 98%);
  padding: 15px;
  border-radius: 15px;
  margin: auto;
}

.Preparation-box h3, .Preparation-box ul{
    color: hsl(332, 51%, 32%);
}

.Preparation-box p{
    color: hsl(24, 5%, 18%);
}


.table-container{
    max-width: 800px;
}

p{
    color: hsl(24, 5%, 18%);
}

/* table design */
table{
    width: 100%;
    border-collapse: collapse;
}
tr{
 border-bottom: 1px solid hsl(30, 18%, 87%);
}

tr:last-child{
    border: none;
}

td{
 padding: 10px;
 text-align: left;
}

/* Universal coloring and fonts */

h1, ul, ol, td:last-child{
    color: hsl(14, 45%, 36%);
}

ol{
    font-weight: bold;
}

ol p{
    padding-left: 5px;
    font-weight: normal;
    color: hsl(24, 5%, 18%);
}